@import '~bootstrap/scss/bootstrap';

@font-face {
  font-family: "lobster";
  src: url("public/Lobster-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "roboto-condensed";
  src: url("public/RobotoCondensed-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

html {
   display: flex;
   flex-direction: column-wrap;
  //  background-image: url("public/prompt-bg-img.jpg");
}

html, body{
  height: 100%;
  background-image: url("public/prompt-bg.jpg");
}

body {
  margin: 30px;
  background-color: #d9d1cf;
  width: 100%;
}
.unauthenticated {
display: flex;
align-items: flex-end;
}

h5, p,  h6 {
  font-family: roboto-condensed;
  color: #102429;
}

h1 {
  font-family: lobster;
  font-size: 120px;
  color: #e83642;
  // -webkit-text-stroke: 2px #102429;
  margin-bottom: 50px;
}

button {
  background-color: #7199a6;
  border-radius: 10px;
  font-family: roboto-condensed;
}


button:hover{
  background-color: #e83642;
  opacity: 0.7;
}

input {
  font-family: roboto-condensed;
  border-radius: 10px;
}

.unauthenticated {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.unauthenticated.credentials{
  align-self: flex-start;
}

.blurb{
  margin-left: 150px;
  height: 150px;
  width: 150px;
}

#sign-in {
  margin-top: 10px;
}

.heading{
  display: flex;
  justify-content: flex-start;
}

.header-buttons {
  margin-left: auto;
  padding: 10px;
}

.prompt-home {
  display: flex;
  align-items: center;
  flex-direction: column;
}


.randomizer {
  margin-bottom: 50px;
  margin-top: 50px;
}

.prompt-index #prompt-message{
  margin-top: 50px;
  font-size: 20px;
    font-family: roboto-condensed;
    color: #102429;
}

#prompt-display {
  line-height: 1.0em;
  padding-top: 40px;
}

.user-settings .prompt-buttons, .user-settings #update-prompt, .user-settings #delete-prompt, .user-settings #change-password {
  padding-top: 10px;
}